@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
    font-family: 'Pangolin', cursive;
}

#game {
    width: 100%;
    height: 100vh;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background: url('./img/bg0.png') no-repeat left bottom / min(30%, 200px) auto; */
}

#bord {
    margin: auto;
    display: block;
}

#display-log {
    width: min(90%, 400px);
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    position: relative;
}

#display-log__text {
    padding: 0 30px;
    width: calc(100% - 60px);
    height: 90%;
    display: flex;
}

#display-log__text span {
    margin: auto;
    width: 100%;
}

#add-options {
    width: min(90%, 400px);
    padding: 15px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#reset {
    width: 4em;
}

.rules {
    display: block;
    width: min(calc(90% - 30px), 400px);
    padding: 15px;
    color: #333;
    font-size: 1em;
    border-radius: 7px;
    margin: auto;
    text-align: left;
}

.score {
    width: 50px;
    display: flex;
    align-items: center;
}

.score span {
    padding-left: 10px;
}

.score #wolfScore {
    padding: 0;
    padding-right: 10px;
}

.score img {
    width: auto;
    height: 30px;
}